.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}



.logo {
  position: absolute;
  z-index: 1000;
  /* Sørg for at logoet er synligt ovenpå slideshowet */
  width: 20%;

  top: 27px;
  left: 41.03px;
  opacity: 1;
}

.menu {
  background-color: #323540;
  min-height: 100px;
  display: flex;
  justify-content: center;
  /* Centrerer menupunkterne i midten */
  align-items: center;
  padding: 0 20px;
  color: white;
  position: relative;
}

.menu button {
  background: none;
  /* Fjern baggrundsfarven */
  border: none;
  /* Fjern kant */
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  /* Sørger for at teksten vises med kapitaler */
  padding: 0 1rem;
  /* Tilføjer polstring omkring teksten */
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 28.8px;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  /* Sørger for at cursoren ændrer sig til pointer ved hover */
}

.menu button:hover,
.menu button.active {
  color: orange;
}

.menu button:hover::after,
.menu button.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid orange;
}

.main {
  flex: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 1205px;
}

@media (max-width: 1000px) {
  .layout {
    min-width: 100vw;
    .logo {
      width: 50%;
    }
    .menu button:hover::after,
    .menu button.active::after {
      content: "";
      display: none;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .main {
    margin-top: 1rem;
  }

}
.breadcrumbs {
  display: flex;
  flex-direction: column;
text-align: left;
margin: auto;
margin-top: 2rem;
padding-left: 1rem;
 width: 1205px;
 .link{
  text-decoration: none;
  color: black;
 }
}

.breadcrumbs p {
  margin: 0;
  font-size: 16px;
}

.breadcrumbs h2 {
  margin-top: 1rem;
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize; // This ensures the first letter of each word is capitalized

}
