.commentSection {
    padding: 20px;
  }
  
  .commentsList {
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .commentSeparator {
    border: 1px solid lightgray;
    margin: 10px 0;
  }
  