.commentItem {
    margin-bottom: 20px;
  }
  
  .commentSeparator {
    border: 1px solid lightgray;
    margin: 10px 0;
  }
  
  .editForm {
    margin-top: 20px;
  }
  
  .editForm input,
  .editForm textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .editForm button {
    margin-right: 10px;
  }
  